#home {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  background-image: url(../../../assets/supermarketbackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  .spacer {
    flex: 1 1 auto;
  }
  .prompts {
    font-size: larger;
    background-color: rgba($color: lightgray, $alpha: 0.6);
    border-radius: 6px;
    width: 75%;
    margin: auto;
    p{
      font-style: italic;
      font-weight: 600;
    }
  }
  #register-prompt {
    margin: 10% 8px;
    padding: 18px 6px 0px 6px ;
  }
  #login-prompt {
    margin: 10% 8px;
    padding: 0px 6px 6px 6px;
  }
}
