<h1>welcome to mySuperMarket Page</h1>
<a routerLink="/register" routerLinkActive="active">register</a>
<form [formGroup]="loginForm" (ngSubmit)="loginRequest(loginForm.value)">
    <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput minlength="9" maxlength="9" type="text" placeholder="your personal ID here please"
            formControlName="ID" />
        <mat-error *ngIf="!loginForm.controls['ID'].valid && loginForm.controls['ID'].touched">
            ID must be nine numbers long
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" minlength="4" maxlength="30" placeholder="password"
            formControlName="password" />
        <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
            Required field, must be between 4 and 30 characters.
        </mat-error>
    </mat-form-field>
    <button mat-button color="secondary" type="submit" [disabled] = "!loginForm.valid">submit</button>
</form>