.product-card {
    // width: 175px;
    // height: 250px;
    .image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      background-position: center;
    }
  }
  .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }