<mat-card class="product-card">
    <mat-card-title>{{product.name}}</mat-card-title>
    <div class="image" [style.background-image]="makeTrustedImage(product.image_url)"></div>
    <mat-card-content>
        <h2> price: {{product.price}} ILS</h2>
        <h2> {{amount}}</h2>
        <mat-card-actions>
            <mat-grid-list cols= "2" rowHeight = "3rem">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-flat-button color="accent" (click)="increment()">+</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-flat-button color="accent" (click)="decrement()" [disabled]="!amount">-</button>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button mat-raised-button color="accent" (click)="addToCart()" [disabled]="!amount">
                        <i class="material-icons"> add_shopping_cart</i>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-actions>
    </mat-card-content>
</mat-card>