.product-card {
    // width: 175px;
    // height: 250px;
    .image {
      width: 150px;
      height: 150px;
      object-fit: cover;
      background-position: center;
    }
 
    button{
      width:100%
    }
  }
  