<div *ngIf = "loggedin">
    hello {{state.user.name}}
</div>
<div *ngIf = "hasOpenCart">
    you seem to be in the middle of a purchase.  would you like to continue?
    <button mat-raised-button color="accent" (click) = "continueCart()">Sure</button>
    <button mat-raised-button color="accent" (click) = "newCart()">nope. no cart please!</button>

</div>
<div *ngIf = "!hasShoppedBefore && !hasOpenCart">
    you seem to be new here. click here to move to store!
    <button mat-raised-button color="accent" (click) = "newCart()">Sure</button>
</div>
<div *ngIf = "hasShoppedBefore && !hasOpenCart">
    happy to see you return. Click here to move to store!
    <button mat-raised-button color="accent" (click) = "newCart()">Sure</button>
</div>